.footer {
    background-color: $color-grey-dark-1;
    padding: 4rem 4rem;
        
    &__nav, &__copyright {
        float: right;
        list-style: none;
        
        li {
            display: inline-block;
            margin-left: 2rem;
            
            a {
                &:link,
                &:visited {
                    font-size: $default-font-size + .2rem;
                    border: 0;
                    color: $color-white;
                    transition: all .2s;
                }
                
                &:hover,
                &:active {
                    color: rgba($color-grey-light-2, 0.6);
                }
            }
            
            &:last-child {
                //margin-right: 0;
            }
            
            @include respond(phone) {
                letter-spacing: .2rem;
            }
        }
    } 
    
    &__copyright {
        margin-top: .5rem;
        color: $color-white;
        li {
            font-weight: 100;
            letter-spacing: .2rem;
            font-size: $default-font-size;
            
            @include respond(phone) {
                letter-spacing: .3rem;
            }
        }
    }
}