.pricing {
    
    &__box {
        background-color: $color-white;
        border-radius: 2rem;
        width: 90%;
        margin-left: 5%;    
    }
    
    div {
        padding: 1.8rem;
        border: .2rem solid $color-grey-light-3; // testing purposes
    }
    
    &__price {
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $color-primary;
        font-size: $default-font-size + 1.5rem;
        font-weight: 100;
        text-align: center;
        
        span {
            font-size: $default-font-size + .1rem;
            font-weight: 300;
        }
    }
    
    div:first-child {
        padding-top: 3rem;
        padding-bottom: 1rem;
        text-align: center;
        background-color: rgba(226, 219, 219, 0.6);
        
        .heading-tertiary {
            font-size: $default-font-size + 1.5rem;
        }
    }
    
    div:last-child {
        text-align: center;
    }
    
    ul {
        list-style: none;
        
        li {
            padding: .5rem 0;
            font-size: $default-font-size + .15rem;
        }
    }
    
}