// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

section {
    padding: 80px 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.section-pricing {
    background-color: $color-grey-light-3;
}

/*

section {
padding: 80px 0;
}

.box {
    padding: 1%;
}

*/